* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   	 -o-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
    background: #4f4d59;
	height: 100%;
	width: 100%;
	font-family: serif;
}

header{
    
    padding-top: 20px;
    text-align: center;
    width: 100%;
    
}

header p{
    text-transform: uppercase;
}

h1{
    text-align: center;
    color: white;
    font-size: 5vw;
}
header div{
    color: white;
    float: right;
    width: 33%;
    padding-bottom: 2%;
    
}

.headerH1{
    padding-bottom: 2%;
    text-align: center;
    
    align-content: center;
}

#hdivp2{
    color:#e5edee;
    font-size: 3vw;
}
#hdivp1{
    color: #c7dce0;
    font-size: 2vw;
}
.bottomContent{
    margin-left: 14vw;
    margin-right: 14vw;
    border-width: 0.3vw;
    border-style: solid;
    color: white;
    padding-bottom: 2%;
    padding-top: 1%;
    
}

#bCdiv{
        
        
        border-width: 0.2vw;
        margin-bottom: 10px;
        border-bottom-style: dashed;
        width: 100%;
}

#p2{    
    padding-bottom: 2%;
}

#p3{
    padding-top: 2%;
}

#bCdiv2 p{
    color: #c7dce0;
    text-align: center;
    font-size: 2vw;
}

#bCdiv2 a {
	color: #c7dce0;
}

#bCdiv p{
    color: #c7dce0;
    text-align: center;
    font-size: 2.5vw;
}



